.author {
  border-bottom-color: currentColor;
  border-bottom-style: solid;
  border-bottom-width: 0.05em;
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  font-weight: normal;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
}
.author1 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  font-weight: normal;
  margin-bottom: 4em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: center;
}
.author2 {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2em;
  text-align: center;
}
.author3 {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 6em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
}
.author4 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: center;
}
.calibre {
  display: block;
  font-size: 1.29167em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.calibre1 {
  line-height: 1.2;
  text-decoration: none;
}
.calibre2 {
  text-decoration: none;
}
.calibre3 {
  font-style: italic;
}
.calibre4 {
  height: auto;
  width: auto;
}
.calibre5 {
  font-weight: bold;
}
.calibre6 {
  border-collapse: separate;
  border-spacing: 2px;
  display: table;
  font-family: "Times New Roman", serif;
  margin-bottom: 0;
  margin-top: 0;
  text-indent: 0;
}
.calibre7 {
  display: table-row;
  vertical-align: middle;
}
.calibre8 {
  display: table-cell;
  font-family: "Times New Roman", serif;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: inherit;
  vertical-align: top;
}
.calibre9 {
  font-size: 1em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre10 {
  display: block;
}
.center {
  display: block;
  font-size: 0.77419em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.75em;
  text-align: center;
}
.copyright {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.58065em;
  margin-bottom: 0.01em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2em;
  text-align: justify;
}
.copyright1 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.58065em;
  margin-bottom: 0.01em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.01em;
  text-align: justify;
}
.copyright2 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.58065em;
  margin-bottom: 0.01em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: justify;
}
.copyright3 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.58065em;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 8em;
  text-align: justify;
}
.h {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1.54839em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5em;
  text-align: center;
}
.h1 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
}
.h2a {
  border-bottom-color: #000;
  border-bottom-style: solid;
  border-bottom-width: 0.05em;
  border-left-color: #000;
  border-right-color: #000;
  border-top-color: #000;
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1.29032em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 1.4em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
}
.h3a {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1.29032em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5em;
  text-align: center;
}
.image {
  display: block;
  margin-bottom: 1.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.5em;
  text-align: center;
}
.imagec {
  display: block;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: center;
}
.imgepub {
  height: auto;
  max-width: 100%;
  width: auto;
}
.indent {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: justify;
  text-indent: 1.2em;
}
.noindent {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.5em;
  text-align: justify;
}
.noindent1 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: justify;
}
.noindent2 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: left;
}
.noindentt {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.5em;
  text-align: justify;
  text-indent: 0;
}
.publisher {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 13em;
  text-align: center;
}
.table {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.25em;
  margin-left: 1em;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: justify;
}
.toc-chaptitle {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.5em;
  margin-left: 0.8em;
  margin-right: 0;
  margin-top: 0.2em;
}
.toc-chaptitle1 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.5em;
  margin-left: 0.3em;
  margin-right: 0;
  margin-top: 0.2em;
}
.toc-fm {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.5em;
  margin-left: 1.5em;
  margin-right: 0;
  margin-top: 0.3em;
}
