.author {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 3.5em;
  text-align: center;
}
.author1 {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
}
.bodytext {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: justify;
  text-indent: 1.2em;
}
.bodytext1 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: justify;
  text-indent: 1.2em;
}
.bodytext2 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: justify;
  text-indent: 1.5em;
}
.bodytextt {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: justify;
  text-indent: 1.5em;
}
.boxnote {
  border-bottom-color: currentColor;
  border-bottom-style: double;
  border-bottom-width: 0.5em;
  border-left-color: currentColor;
  border-left-style: double;
  border-left-width: 0.5em;
  border-right-color: currentColor;
  border-right-style: double;
  border-right-width: 0.5em;
  border-top-color: currentColor;
  border-top-style: double;
  border-top-width: 0.5em;
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 1em;
  margin-left: 7em;
  margin-right: 7em;
  margin-top: 1em;
  padding-bottom: 12em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 12em;
  text-align: justify;
}
.boxnote1 {
  border-bottom-style: solid;
  border-bottom-width: 0.15em;
  border-left-style: solid;
  border-left-width: 0.15em;
  border-right-style: solid;
  border-right-width: 0.15em;
  border-top-style: solid;
  border-top-width: 0.15em;
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  text-align: justify;
  text-indent: 0;
}
.calibre {
  display: block;
  font-size: 1.29167em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.calibre1 {
  line-height: 1.2;
  text-decoration: none;
}
.calibre2 {
  font-style: italic;
}
.calibre3 {
  text-decoration: none;
}
.calibre4 {
  font-weight: bold;
}
.calibre5 {
  height: auto;
  width: auto;
}
.calibre6 {
  border-collapse: separate;
  border-spacing: 2px;
  display: table;
  font-family: "Times New Roman", serif;
  margin-bottom: 0;
  margin-top: 0;
  text-indent: 0;
}
.calibre7 {
  display: table-row;
  vertical-align: middle;
}
.calibre8 {
  display: table-cell;
  font-family: "Times New Roman", serif;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: inherit;
  vertical-align: top;
}
.calibre9 {
  font-size: 1em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre10 {
  display: block;
  page-break-after: always;
}
.calibre11 {
  display: block;
}
.calibre12 {
  display: block;
  line-height: 1.2;
}
.caption {
  display: block;
  font-size: 0.77419em;
  margin-bottom: 1.2em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5em;
  text-align: center;
}
.center {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.5em;
  text-align: center;
}
.centerx {
  border-bottom-color: #000;
  border-bottom-style: solid;
  border-bottom-width: 0.05em;
  border-left-color: #000;
  border-right-color: #000;
  border-top-color: #000;
  display: block;
  font-size: 0.77419em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5em;
  text-align: center;
}
.centery {
  display: block;
  font-size: 0.77419em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5em;
  text-align: center;
}
.copyright {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.58065em;
  margin-bottom: 0.3em;
  margin-left: 0.2em;
  margin-right: 0;
  margin-top: 4em;
}
.copyright1 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.58065em;
  margin-bottom: 0.3em;
  margin-left: 0.2em;
  margin-right: 0;
  margin-top: 0.3em;
}
.copyright2 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.58065em;
  margin-bottom: 0.4em;
  margin-left: 0.2em;
  margin-right: 0;
  margin-top: 6em;
}
.copyrightt {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.58065em;
  margin-bottom: 0.4em;
  margin-left: 0.2em;
  margin-right: 0;
  margin-top: 2em;
}
.h {
  border-bottom-color: #000;
  border-bottom-style: solid;
  border-bottom-width: 0.05em;
  border-left-color: #000;
  border-right-color: #000;
  border-top-color: #000;
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1.29032em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.2em;
  text-align: center;
}
.h1 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1.41935em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5em;
  text-align: center;
}
.h2 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
}
.h2a {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1.29032em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 1.2em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.2em;
  text-align: center;
}
.h2c {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1.29032em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
}
.h2d {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1.29032em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 1.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.8em;
  text-align: center;
}
.h2e {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1.66667em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 1.2em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.2em;
  text-align: center;
}
.image {
  display: block;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2em;
  text-align: center;
}
.imagec {
  display: block;
  margin-bottom: 0.2em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.2em;
  text-align: center;
}
.indenthanging {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.25em;
  margin-left: 1.5em;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: justify;
  text-indent: -1.5em;
}
.indenthanging1 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.25em;
  margin-left: 1em;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: justify;
  text-indent: 1.5em;
}
.indenthanginga {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.25em;
  margin-left: 2.3em;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: justify;
  text-indent: -1.5em;
}
.indenthangingt {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.25em;
  margin-left: 1.5em;
  margin-right: 0;
  margin-top: 1.5em;
  text-align: justify;
  text-indent: -1.5em;
}
.normal {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: justify;
}
.normal1 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: justify;
}
.normalt {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.5em;
  text-align: justify;
}
.normalt1 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.5em;
  text-align: justify;
}
.normalx {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: justify;
}
.publisher {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 15em;
  text-align: center;
}
.right {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: right;
}
.toc-back {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.5em;
  margin-left: 2.3em;
  margin-right: 0;
  margin-top: 2em;
}
.toc-back1 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.5em;
  margin-left: 2.3em;
  margin-right: 0;
  margin-top: 0.2em;
}
.toc-chaptitle {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.5em;
  margin-left: 1.6em;
  margin-right: 0;
  margin-top: 1em;
}
.toc-chaptitle1 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.5em;
  margin-left: 1.2em;
  margin-right: 0;
  margin-top: 1em;
}
.toc-fm {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.5em;
  margin-left: 2.3em;
  margin-right: 0;
  margin-top: 1em;
}
.toc-fm1 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.5em;
  margin-left: 2.3em;
  margin-right: 0;
  margin-top: 0.3em;
}
.toc-parttitle {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 1em;
  margin-left: 10.5em;
  margin-right: 0;
  margin-top: 1em;
}
