.author {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2em;
  text-align: center;
}
.author1 {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
}
.bodytext {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: justify;
  text-indent: 1.5em;
}
.boxnote {
  border-bottom-color: #000;
  border-bottom-style: solid;
  border-bottom-width: 0.1em;
  border-left-color: #000;
  border-left-style: solid;
  border-left-width: 0.1em;
  border-right-color: #000;
  border-right-style: solid;
  border-right-width: 0.1em;
  border-top-color: #000;
  border-top-style: solid;
  border-top-width: 0.1em;
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 1em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
}
.calibre {
  display: block;
  font-size: 1.29167em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.calibre1 {
  display: block;
}
.calibre2 {
  height: 100%;
  text-align: center;
  width: auto;
}
.calibre3 {
  display: block;
  font-size: 1.29167em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.calibre4 {
  line-height: 1.2;
  text-decoration: none;
}
.calibre5 {
  text-decoration: none;
}
.calibre6 {
  font-style: italic;
}
.calibre7 {
  font-weight: bold;
}
.calibre8 {
  height: auto;
  width: auto;
}
.calibre9 {
  border-collapse: separate;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-top: 0;
  text-indent: 0;
}
.calibre10 {
  display: table-row;
  vertical-align: middle;
}
.calibre11 {
  display: table-cell;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: inherit;
  vertical-align: top;
}
.calibre12 {
  font-size: 1em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre13 {
  font-style: italic;
  line-height: 1.2;
}
.caption {
  display: block;
  font-size: 0.77419em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5em;
  text-align: center;
}
.center {
  border-bottom-color: #000;
  border-bottom-style: solid;
  border-bottom-width: 0.1em;
  border-left-color: #000;
  border-right-color: #000;
  border-top-color: #000;
  display: block;
  font-size: 0.77419em;
  margin-bottom: 0.2em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 2em;
  text-align: center;
}
.center1 {
  display: block;
  font-size: 0.77419em;
  margin-bottom: 1.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.2em;
  text-align: center;
}
.center2 {
  display: block;
  font-size: 0.77419em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
}
.copyright {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.58065em;
  margin-bottom: 0.3em;
  margin-left: 0.2em;
  margin-right: 0;
  margin-top: 2em;
}
.copyright1 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.58065em;
  margin-bottom: 0.3em;
  margin-left: 0.2em;
  margin-right: 0;
  margin-top: 0.3em;
}
.copyright2 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.58065em;
  margin-bottom: 0.4em;
  margin-left: 0.2em;
  margin-right: 0;
  margin-top: 6em;
}
.copyrightt {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.58065em;
  margin-bottom: 0.4em;
  margin-left: 0.2em;
  margin-right: 0;
  margin-top: 2em;
}
.h {
  border-bottom-color: currentColor;
  border-bottom-style: solid;
  border-bottom-width: 0.05em;
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1.29032em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
}
.h1 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1.54839em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5em;
  text-align: center;
}
.h2 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.5em;
  text-align: center;
}
.h2c {
  border-bottom-color: #000;
  border-bottom-style: solid;
  border-bottom-width: 0.05em;
  border-left-color: #000;
  border-right-color: #000;
  border-top-color: #000;
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1.29032em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.2em;
  text-align: center;
}
.h2d {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1.29032em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 1.2em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.2em;
  text-align: center;
}
.h3a {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5em;
  text-align: center;
}
.image {
  display: block;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
}
.image1 {
  display: block;
  margin-bottom: 0.2em;
  margin-left: 5em;
  margin-right: 0;
  margin-top: 0.2em;
}
.imagec {
  display: block;
  margin-bottom: 0.1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.1em;
  text-align: center;
}
.imgepub {
  height: auto;
  max-width: 100%;
  width: auto;
}
.indenthanging {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.25em;
  margin-left: 1.5em;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: justify;
  text-indent: -1.5em;
}
.indenthangingt {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.25em;
  margin-left: 1.5em;
  margin-right: 0;
  margin-top: 1.5em;
  text-align: justify;
  text-indent: -1.5em;
}
.normal {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: justify;
}
.normalt {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.5em;
  text-align: justify;
}
.normalx {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: justify;
}
.publisher {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 12em;
  text-align: center;
}
.tablet {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.25em;
  margin-left: 0.5em;
  margin-right: 0;
  margin-top: 0.25em;
  text-align: justify;
}
.toc-back {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.5em;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 1.2em;
}
.toc-chaptitle {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-right: 0;
  margin-top: 0.2em;
}
.toc-fm {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.5em;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 0.3em;
}
.toc-fm1 {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0;
  margin-top: 0.2em;
}
.tocchap {
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 0.77419em;
  margin-bottom: 0.5em;
  margin-left: 1em;
  margin-right: 0;
  margin-top: 1.2em;
}
